<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
{#             {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Logged in as {{ app.user.username }} | 
                <a href="{{ path('sima_smf_user_logout') }}">
                    Logout
                </a>
            {% else %}
                <a href="{{ path('sima_smf_user_login') }}">Login</a>
            {% endif %} #}
        </div>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block sima_smf_user_content %}
            {% endblock sima_smf_user_content %}
        </div>
    </body>
</html>
